doctype
html
  head
    title= title
    link(rel="stylesheet", href="main.css")
  body
    header
        h1 Guest List
    div
        h4 Attending
        each name in attending
            div
                p #{name}
    div
        h4 Not Attending
        each name in notAttending
            div
                p #{name}