doctype
html
  head
    title= title
    link(rel="stylesheet", href="main.css")
  body
    header
        h1 Event RSVP
    h3 Thank you for your response!
    div
        a(href='/guests' id='viewGuestList') View Guest List
    script(src='main.js')